* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	border: 5px solid orangered;
	margin: 2rem;
	padding: 3rem;
	border-radius: 10px;
	color: #000;
	background: #ff0;
	box-shadow: blue 10px 5px 5px;
}

#info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
