* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	border: 5px solid orangered;

	margin: 2rem 0 2rem 0;
}
